main{
    margin-top: 5rem;
}


.letter{
    letter-spacing: -1px;
}

@media only screen and (max-width: 600px) {
    .img-fluid{
        width: 150px;
        margin: auto;
    }
    main{
        width: 100%;
        padding: 2rem;
        margin: 0;
    }
  }
  
.no-border{
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 30px;
}